body {
    /* you can use a more complete font-family from VSCode as well */
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;


}

.center-align {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
}

.header {
    background-color: lightgreen;
    padding: 1em;
    display: flex;
    
}

.header-content {
    flex: 1;
}

.header-content img{
    width: 100%;
}
.header-content h1{
    text-align: center;
}

.main {
    background-color : lightseagreen;
    padding: 1em;

}
/* side-bar  {
    float : left;
    width : 25%;
} */
content {
    padding:1em;
}   
.footer {
    background-color: lightgreen;
    padding: 1em;
}


.city {
    display:block;

}


  .city-container{ 
    border: green solid 2px;
    display: flex;

  } 
 .city-image{
    flex: 1;
} 
.city img{
    width: 100%;
} 
 .city-txt{
    flex: 1;
    padding-left: 10px;
} 

.img1 {
    float: left;
}


 .img2 {
    float: right;
}

     
 .Historical-text { 
   padding: 10px;
 } 
 .historical-wrap{
     margin-top: 10px;
 }

 .historical h3{
     font-family: Arial, Helvetica, sans-serif;
 }
.historical-image img{
    width: 100%;
    margin: 25px 0px 0px -4px;
}
.long img{
    margin-right: 5px;
}
.historical-image{
    width: 50%;
    float: right;
    padding-left: 10px;
}
.float-left{
    float: left;
}
  .clearfix::after {  
    content: "";
    clear: both;
    display: table;
  } 
 
  /* .historical-txt{
      overflow: hidden;
  }
   */
@media(min-width:800px){
    .container {
        width: 90%;
       
    }
    body{
        background: yellow;
    }  
    .float-left{
        float:right;
    }
    .historical-container{
        display: flex;
    }
    .historical-wrap{
    
        margin: 5px;
    }

    .historical h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }


    /* .city-container{
        display: flex;
    }
    .historical-container{
        display: flex;
    }
    */

    /* .historical-image{
        width: 50%;
    } */
    .historical-image img{
        /* width: 100%; */
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .header-content img{
        width: 60%;
    }

    .city {
        display:flex;
        flex:1;
    }

    .city-image {
        width: 50%;
    }
}